.modal {
    --bs-modal-bg: var(--light);
    --bs-modal-border-color: var(--grey);
    --bs-modal-color: var(--dark);
}

.form-group {
    margin-top: 5px;
}

.search {
    width: 40px;
    height: 40px;
    border: 1px solid var(--dark);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: 0.5s ease;
}
.searchInput {
    border: none;
    outline: none;
    flex: 0.9;
    background: transparent;
    margin-left: 5px;
    color: var(--dark);
    display: none;
    opacity: 0;
}
.search.active {
    width: 300px;
}
.search.active .searchInput {
    animation: showInput 0.3s ease 0.3s forwards;
    display: block;
}

@keyframes showInput {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.table .thead-dark th {
    color: var(--tbllight);
    background-color: var(--tbl);
}
.table td {
    color: var(--dark);
}
.table tr:hover td {
    color: var(--dark);
    background: var(--grey);
}






input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/*********************Transaction css part*************************/

.date {
    display: inline-block;
    background: rgba(132, 189, 200, 0.18);
    border-radius: 0.4rem;
    margin-top: 1rem;
    padding: 1rem 1.6rem;
    color: var(--dark);
}

.date input[type="date"] {
    background: transparent;
    color: var(--dark);
    border: none;
    outline: none;
    margin-right: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}

.date select {
    background: transparent;
    color: var(--dark);
    border: none;
    outline: none;
}

.date select option {
    background: var(--light);
    color: var(--dark);
}

.table-data .order table {
    overflow: hidden;
}

.excel {
    display: flex;
    justify-content: space-between;
    grid-gap: 4px;
}
.excel form {
    display: flex;
}
.hidden-input {
    display: none !important;
}
.file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    cursor: pointer;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--dark);
    position: relative;
    color: var(--dark);
}

.hover-text {
    position: absolute;
    top: 40px;
    left: 50%;
    text-align: center; /* Center the text horizontally */
    width: max-content;
    transform: translateX(-50%);
    background-color: var(--light);
    color: var(--dark);
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.file-label:hover .hover-text {
    opacity: 1;
}



/*********************Transaction part*************************/



/*********************Online status part*************************/
.bg-green-500 {
    background-color: #34d399; /* Green color */
}

.bg-red-500 {
    background-color: #ef4444; /* Red color */
}

.rounded-full {
    border-radius: 9999px; /* Full circular border-radius */
}
/*********************Online status part*************************/



/*********************List User part*************************/
.selectManusia{
    font-size: 20px;
}
