.card {
    border: var(--bs-card-border-width) solid var(--dark);
    border-radius: var(--bs-card-border-radius) var(--dark);
}

.card-header {
    background: var(--light);
    color: var(--dark);
    border-bottom: var(--bs-card-border-width) solid var(--dark);
}

.card-body {
    background: var(--light);
    color: var(--dark);
}
