@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.wrapper {
    box-shadow: 0 0 1in -0.25in rgb(0, 0, 0.5);
    padding: 3mm;
    margin: 0 auto;
    width: 85mm;
    background: var(--light);
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

tr.tabletitle {
    font-weight: bold;
}
